body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    background: red;
    width: 80vw;
    max-width: 800px;
    min-height: 200px;
    height: 50vh;
    max-height: 600px;
    overflow: hidden;
    border-radius: 20px;
    
}

.slides {
    height: 100%;
    width: auto;
    display: flex;
    transition: 1s;
}

.slide {
    width: 80vw;
    max-width: 800px;
    height: 100%;
    flex-shrink: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.manual-navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.dots {
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.dots-active {
    width: 40px;
    background: linear-gradient(to left, #77c6da, #25f3d3);
}